.DS_Store
node_modules
/build
/.svelte-kit
/package
/archive
.env
.env.*
!.env.example
/.vscode
/.netlify
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
