---
title: Pro Post 2
slug: hello1
subtitle: This is the post description used on the post lists as a preview of the content. I assume it'll be the fist paragraph of the post.
tags: [react, front end]
date: 25-10-2021
icon: front
---

# This is the second post
