@tailwind base;
@tailwind components;
@tailwind utilities;

/* cormorant-700 - latin */
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cormorant-v21-latin-700-subset.woff2") format("woff2");
}

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/poppins-v20-latin-300-subset.woff2") format("woff2");
}

/* roboto-serif-regular - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/roboto-serif-v13-latin-400-subset.woff2") format("woff2");
}

/* roboto-serif-500 - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/roboto-serif-v13-latin-500-subset.woff2") format("woff2");
}
